html, body { margin: 0px; padding: 0px; border: 0px; }
#container { width: 950px; margin: 0 auto; /* top right bottom left */ padding: 0; background-color: #fff; }
#container #header { margin: 0; padding: 0; width: 100%; float: left; }
#container #title { margin: 0; padding: 0; width: 100%; float: left; }
#container #title_col1 { width: 130px; float: left; padding:0 0 0 10px; }
#container #title_col2 { width: 810px; float: right; text-align: left; padding:0 0 10px 0; vertical-align: top; }
#container #column1 { width: 290px; height: 530px; float: left; overflow:hidden; background-color: #cdffcc; border: #000000 solid 1px; text-align: center; padding: 10px }
#container #col2outer { width: 630px; float: right; margin: 0; padding: 0; }
#col2outer #column2 { width: 290px; height: 530px; float: left; overflow:hidden; background-color: #dddddd; border: #000000 solid 1px; text-align: center; padding: 10px }
#col2outer #column3 { width: 290px; height: 530px; float: right; overflow:hidden; background-color: #b0eef3; border: #000000 solid 1px; text-align: center; padding: 10px }
#container #footer { float: left; width: 100%; }
#container #columnB1 { width: 310px; float: left; overflow:hidden; background-color: #fff; text-align: left; padding: 10px 0 0 0 }
#container #columnB2 { width: 630px; float: right; overflow:hidden; background-color: #fff; text-align: left; padding: 10px 0 0 0 }
#main { float: left; width: 100%; }
p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.0em; font-weight: normal; color: #000000; text-decoration: none; }
p.small { font-size: 0.8em; font-style: normal; }
p.footer { font-size: 0.8em; font-style: normal; }
ul { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.0em; font-weight: normal; color: #000000; text-decoration: none; }
h1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.3em; font-weight: bold; color: #000000; text-decoration: none; }
h2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.1em; font-weight: bold; color: #000000; text-decoration: none; }
td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.0em; font-weight: normal; color: #000000; text-decoration: none; }
td.formName { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.0em; font-weight: bold; text-align: right; color: #000000; text-decoration: none; }
td.small { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 0.8em; font-weight: normal; color: #000000; text-decoration: none; }
.feedburnerFeedBlock { font-family: Verdana, Arial, Helvetica, sans-serif; border:1px solid #000000; background-color:#ffe; padding: 10px; }
.feedTitle { font-weight: bold; }
