html, body { margin: 0px; padding: 0px; border: 0px; }
#container { width: 920px; margin: 0 0 0 20px; /* top right bottom left */ padding: 0; background-color: #fff; }
#container #header { margin: 0; padding: 0; width: 100%; float: left; }
#container #title { margin: 0; padding: 0; width: 100%; float: left; }
#container #title_col1 { width: 130px; float: left; padding:0 0 0 10px; }
#container #title_col2 { width: 780px; float: right; text-align: left; padding:0 0 10px 0; vertical-align: top; }
#container #column1 { width: 280px; height: 520px; float: left; background-color: #cdffcc; border: #000000 solid 1px; text-align: center; padding: 10px }
#container #col2outer { width: 610px; float: right; margin: 0; padding: 0; }
#col2outer #column2 { width: 280px; height: 520px; float: left; background-color: #dddddd; border: #000000 solid 1px; text-align: center; padding: 10px }
#col2outer #column3 { width: 280px; height: 520px; float: right; background-color: #b0eef3; border: #000000 solid 1px; text-align: center; padding: 10px }
#container .main {width: 100%; float: left; background-color: #e0e0e0; border: #000000 solid 1px; padding: 10px }
#container #footer { float: left; width: 100%; }
p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.0em; font-weight: normal; color: #000000; text-decoration: none; }
p.small { font-size: 0.8em; font-style: normal; }
p.footer { font-size: 0.8em; font-style: normal; }
h1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.3em; font-weight: bold; color: #000000; text-decoration: none; }
h2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.1em; font-weight: bold; color: #000000; text-decoration: none; }
